In [9]:
nested_tup = (4,5,6),(7,8)
nested_tup

tup = tuple('string')
tup[0]

tup = tuple(['foo',[1,2],True])
#tup[2] = False

tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [11]:
#tupleの分解
tup = (4,5,6)
a, b, c = tup
b

tup = 4,5,(6,7)
a,b,(c,d) = tup
c

6

In [13]:
#変数の入れ替え
#tmpとかを使わなくても入れ替えができる
a,b = 1,2
a,b = b,a
a,b

(2, 1)

In [15]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print(f'a={a},b={b},c={c}')

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [18]:
#tupleを任意の長さで受け取る
values = 1,2,3,4,5
a,b,*rest = values
rest

[3, 4, 5]

In [21]:
#list のソート
b = ['saw','small','He','foxes','six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [25]:
import bisect
c = [1,2,2,2,3,4,7]
bisect.bisect(c,5)
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [28]:
#スライス
seq = [7,2,3,7,5,6,0,1]
seq[1:5]
seq[3:4]=[6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [31]:
str_list = list('HELLO!')
str_list[-5:-2]

['E', 'L', 'L']

In [34]:
#zip
seq1 = ['foo','bar','baz']
seq2 = ['one','two','three']
zipped = zip(seq1,seq2)
list(zipped)

seq3 = [False,True]
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [36]:
#zipで複数のシーケンスを同時に逐次処理
for i ,(a,b) in enumerate(zip(seq1,seq2)):
    print(f'{i}:{a},{b}')

0:foo,one
1:bar,two
2:baz,three

In [44]:
#dict
d1 = {'a':'some value','b':[1,2,3,4]}
d1[7] = 'an integer'
d1[5] = 'some value'
d1['dummy']='anoter value'
del d1[5]
ret = d1.pop('dummy')
ret

'anoter value'

In [49]:
list(d1.keys())
list(d1.values())
d1.update({'b':'foo','c':12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [51]:
words = ['apple','bat','bar','atom','book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [54]:
words = ['apple','bat','bar','atom','book']
by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [57]:
from collections import defaultdict
words = ['apple','bat','bar','atom','book']
by_letter = {}
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
    
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [62]:
#ディクショナリのキーになりえるかどうかはhash関数で調べられる
hash('string')
# hash([1,2,3]) #listはハッシュにできない
hash(tuple([1,2,3])) #tupleにすればOK
#そもそもhash関数って何してるの？

2528502973977326415

In [68]:
#set
set([2,2,2,3,4,1,2])
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

a.union(b)
a|b

a.intersection(b)
a & b

{3, 4, 5}

In [75]:
#内包表記
# [expr for val in collection if condition]
strings = ['a','as','bat','car','dove','Python']
[x.upper() for x in strings if len(x)>2]

#dict_comp = {key-expr : value-expr for value in collection if condition}
unique_lengths = {len(x) for x in strings}
unique_lengths
set(map(len,strings))

loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'Python': 5, 'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4}

In [79]:
#ネストした内包表記
all_data = [['John','Emily','Michael','Mary','Steven'],
            ['Maria','Juan','Javier','Natalia','Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [81]:
#???
result = [name for names in all_data for name in names if name.count('e') >=2]
result

['Steven']

In [88]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattend = [x for tup in some_tuples for x in tup]
flattend

for tup in some_tuples:
    for x in tup:
        flattend.append(x)

In [90]:
#関数
def my_function(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)
    
my_function(5,6,z=0.7)

0.06363636363636363

In [92]:
a = []
def func():
    for i in range(5):
        a.append(i)
a

[]

In [94]:
import re

states = ['   Alabama','Georgia!','Georgia','georgia','FlOrIda','south    carolina###','West virginia?']

def clean_strings(strings):
    result =[]
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]','',value)
        value = value.title()
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South    Carolina',
 'West Virginia']

In [97]:
def remove_punctuation(value):
    return re.sub('[!#?:]','',value)

#関数のリストが持てるの面白い
clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings,ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
        
    return result

clean_strings(states,clean_ops)

for x in map(remove_punctuation,states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south    carolina
West virginia

In [99]:
#lambda
def apply_to_list(some_list,f):
    return [f(x) for x in some_list]

ints = [4,0,1,5,6]
apply_to_list(ints,lambda x:x*2)

[8, 0, 2, 10, 12]

In [102]:
strings = ['foo','card','bar','aaaa','abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [107]:
#generator
some_dict = {'a':1,'b':2,'c':3}

dict_iterator = iter(some_dict)
dict_iterator
list(dict_iterator)

def squares(n=10):
    print(f'Generating squares from 1 to {n**2}')
    for i in range(1,n+1):
        yield i**2
        
gen = squares()
gen
for x in gen:
    print(x,end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [109]:
491/13/4.5

8.393162393162392